In [100]:
# Run an OLS regression for a certain window
# Need a prediction based on the regression 
# over the past n days
# n regressions for n days
# add the coloumn of predicted vals to each date after n days of lookback

In [101]:
import yfinance as yf
import pandas as pd
import statsmodels.api as sm
import matplotlib.pyplot as plt

In [176]:
# final method, resultant of all code below..

def createLSMAPredictionCol(ticker,window,startyear):
    df=yf.download(ticker,start = str(startyear)+'-01-01')
    n = window
    lsma = []
    dates = []
    for i in range(len(df)-(n-1)):
        input_reg = df[i:n+i]
        Y = input_reg['Adj Close']
        X = pd.Series(range(len(input_reg.index))).values
        Model = sm.OLS(Y,sm.add_constant(X)).fit()
        prediction=currModel.predict()[-1]
        lsma.append(prediction)
        dates.append(input_reg.iloc[-1].name)
    lsma_df = pd.DataFrame({'LSMA': lsma}, index = dates)
    final_df = pd.concat([lsma_df,df], axis = 1)
    return final_df
ticker = 'TSLA'
fin = createLSMAPredictionCol(ticker,40,2018)
fin

[*********************100%***********************]  1 of 1 completed

,LSMA,Open,High,Low,Close,Adj Close,Volume
2018-01-02,NaN,20.799999,21.474001,20.733334,21.368668,21.368668,65283000
2018-01-03,NaN,21.400000,21.683332,21.036667,21.150000,21.150000,67822500
2018-01-04,NaN,20.858000,21.236668,20.378668,20.974667,20.974667,149194500
2018-01-05,NaN,21.108000,21.149332,20.799999,21.105333,21.105333,68868000
2018-01-08,NaN,21.066668,22.468000,21.033333,22.427334,22.427334,147891000
...,...,...,...,...,...,...,...
2022-12-19,133.249047,154.000000,155.250000,145.820007,149.869995,149.869995,139390600
2022-12-20,133.249047,146.050003,148.470001,137.660004,137.800003,137.800003,159563300
2022-12-21,133.249047,139.339996,141.259995,135.889999,137.570007,137.570007,145417400
2022-12-22,133.249047,136.000000,136.630005,122.260002,125.349998,125.349998,210090300
2022-12-23,133.249047,126.370003,128.619995,121.019997,123.150002,123.150002,166396100

In [154]:
df = yf.download('AAPL', start= '2020-01-01')

[*********************100%***********************]  1 of 1 completed

In [155]:
n = 25
# run a regression over first 25 rows of df

In [156]:
test_df = df[:window]
df

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-01-02,74.059998,75.150002,73.797501,75.087502,73.561531,135480400
2020-01-03,74.287498,75.144997,74.125000,74.357498,72.846382,146322800
2020-01-06,73.447502,74.989998,73.187500,74.949997,73.426819,118387200
2020-01-07,74.959999,75.224998,74.370003,74.597504,73.081497,108872000
2020-01-08,74.290001,76.110001,74.290001,75.797501,74.257111,132079200
...,...,...,...,...,...,...
2022-12-19,135.110001,135.199997,131.320007,132.369995,132.369995,79592600
2022-12-20,131.389999,133.250000,129.889999,132.300003,132.300003,77432800
2022-12-21,132.979996,136.809998,132.750000,135.449997,135.449997,85928000
2022-12-22,134.350006,134.559998,130.300003,132.229996,132.229996,77852100
2022-12-23,130.919998,132.419998,129.639999,131.860001,131.860001,63771000

In [157]:
test_df.shape

(25, 6)

In [158]:
# define dependent var
Y=test_df['Adj Close']

In [159]:
# independent var is date
# transform dates into int vals
X = pd.Series(range(len(test_df.index))).values
X

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24])

In [160]:
# add intercept
model = sm.OLS(Y, sm.add_constant(X)).fit()

In [161]:
model.params
# need a prediction for the first day 
# after 25 days of lookback

const    74.175341
x1        0.206554
dtype: float64

In [162]:
model.params.const + (n-1) * model.params.x1

79.1326321645883

In [163]:
model.predict()
# last value of this also provides 
# same prediction as manual calculation

array([74.17534147, 74.38189525, 74.58844903, 74.79500281, 75.00155658,
       75.20811036, 75.41466414, 75.62121792, 75.8277717 , 76.03432548,
       76.24087926, 76.44743304, 76.65398682, 76.8605406 , 77.06709437,
       77.27364815, 77.48020193, 77.68675571, 77.89330949, 78.09986327,
       78.30641705, 78.51297083, 78.71952461, 78.92607839, 79.13263216])

In [164]:
 model.predict()[-1]

79.1326321645883

In [165]:
# predictions can begin at the day after n days
# 25 days in this case

In [166]:
# create arrays to store lsma vals and dates
# (beginning at first date after n days lookback)

lsma = []
dates = []
for i in range(len(df)-24):
    input_reg = df[i:n+i]
    dep = input_reg['Adj Close']
    ind = pd.Series(range(len(input_reg.index))).values
    currModel = sm.OLS(dep,sm.add_constant(ind)).fit()
    pred=currModel.predict()[-1]
    lsma.append(pred)
    dates.append(input_reg.iloc[-1].name)

In [167]:
lsma_df = pd.DataFrame({'LSMA': lsma}, index = dates)

In [168]:
final_df = pd.concat([lsma_df,df], axis = 1)

In [169]:
# creating strategy with the final dataframe
# buying signal when close<LSMA, and sell when close>LSMA
# final_df['signal_buy'] = final_df['Adj Close']<final_df.LSMA
# final_df['signal_sell'] = final_df['Adj Close']>final_df.LSMA

In [170]:
# shifting to avoid forward-looking bias
# final_df['shifted_Open'] = final_df.Open.shift(-1)
# final_df

In [171]:
'''in_position = False
buydates,selldates = [],[]
buyprices,sellprices=[],[]
for indew,row in final_df.iterrows():
     if not in_position and row.signal_buy == True:
        buyprice = row.shifted_open
        buydates.append(buyprice)
        buydates.append(index)
        in_position=True
    if in_position and row.signal_sell== True:
        sellprice = row.shifted_open
        sellprices.append(sellprice)
        selldates.append(index)
        in_position=False
'''

'in_position = False\nbuydates,selldates = [],[]\nbuyprices,sellprices=[],[]\nfor indew,row in final_df.iterrows():\n     if not in_position and row.signal_buy == True:\n        buyprice = row.shifted_open\n        buydates.append(buyprice)\n        buydates.append(index)\n        in_position=True\n    if in_position and row.signal_sell== True:\n        sellprice = row.shifted_open\n        sellprices.append(sellprice)\n        selldates.append(index)\n        in_position=False\n'